*, html {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: blueviolet;
}
#container {
    width: 90%;
    margin: 0 auto;
}
.logo {
    width: 200px;
    position: fixed;
    height: 85px;
    top: 0px;
    z-index: 2000;
}
#menu-list {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: indigo;
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: right;
}
#menu-list li {
    color: white;
    display: inline-block;
    padding-right: 20px;
}
#menu-list li:hover {
    color: red;
}
.city-img {
    width: 500px;
    height: 375px;
    border: groove 13px;
    border-radius: 15px;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.4);
}
.city-text {
    color: white;
    margin-left: 30px;
    max-width: 500px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.4em;
    margin-top: 10px;
}
p {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}
#jaipur {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
#jaipur img {
    border-color: rgb(254, 79, 131);
}
#jodhpur {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#jodhpur img {
    border-color: blue;
}
#udaipur {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#jaisalmer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#jaisalmer img {
    border-color: yellow;
    margin-bottom: 130px;
}
footer {
    width: 100%;
    height: 205px;
    color: white;
    background-color: indigo;
    text-align: center;
    /* line-height: 50px; */
}
footer img {
    width: 90px;
    /* text-align: center; */
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-text {
    color: white;
}
@media screen and (max-width: 950px){
#jaipur, #jodhpur, #udaipur, #jaisalmer {
    display: block;
    width: 100%;
}
.city-text {
    margin-top: 30px;
    margin-left: 0px;
    max-width: 550px;
}
.city-img {
    width: 450px;
    height: 300px;
}
#jaisalmer {
    padding-bottom: 100px;
}
#jaisalmer img {
    margin-bottom: 0px;
}
}
@media screen and (max-width: 720px) {
#menu-list {
    height: 150px;
}
#menu-list li {
    display: block;
    margin-top: 3px;
    line-height: 20px;
}
.logo {
    padding-top: 20px;
    height: 120px;
}
.city-img {
    width: 340px;
    height: 250px;
}
#jaipur {
    margin-top: 200px;
}
}
